# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Global
node_modules/
.env
dist
build

# Backend specific
backend/node_modules/

# Client specific
client/node_modules/

# ignore all env files everywhere using:
**/.env
**/.env.*


# Build outputs
dist/
build/
.out/
coverage/

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Mac / Windows
.DS_Store
desktop.ini

# Others
*.tgz
*.zip
